# Default ignored files
/shelf/
/workspace.xml
*.iml
*.ipr
*.iws
/.idea
/out
/lib
/Core/db
*/target
*.class

*.DS_Store
/Core/testFiles/db/
/src/main/resources/application.properties
*.db
*.jar
*.properties

.env
AuthApi/src/main/resources/application.properties
*mvnw
frontend/package-lock.json
frontend/yarn.lock

/AuthApi/src/main/resources/application.yml
